<div class="d-flex justify-content-center text-center">

  <div class="width-25-rem">
    <div class="margin-1-rem">
      <h6>Iniciar sesión</h6>
    </div>
    <div>
      <div class="margin-1-rem">
        <input type="text" class="form-control" name="" id="" placeholder="Correo electrónico">
      </div>
      <div class="margin-1-rem">
        <input type="text" class="form-control" name="" id="" placeholder="Contraseña">
      </div>

    </div>

      <div class="margin-1-rem" >
        <button class="btn institutional-button ">Entrar</button>
      </div>

      <div class="margin-1-rem">
      ¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a>
      </div>
  </div>

</div>


