<div class="d-flex justify-content-center text-center" >

  <div class="width-25-rem">
    <div class="margin-1-rem">
      <h6>registro de nuevo usuario</h6>
    </div>

    <div class="d-flex justify-content-around margin-1-rem">
      <div>
        <input type="radio" aria-label="Radio button for following text input"> Creativo
      </div>
      <div>
        <input type="radio" aria-label="Radio button for following text input"> Mecena
      </div>
      <div>
        <input type="radio" aria-label="Radio button for following text input"> Fan
      </div>
    </div>

    <div class="background-color-gray-2 text-left margin-1-rem" style="padding: 1rem;">
      <div>
        <h6>Eres un artista o creador y quieres:</h6>
      </div>
      <div>
        <p>* Solicitar apoyos de donativos.</p>
        <p>* Vender productos en tu tienda online.</p>
        <p>* Programar presentaciones Artísticas.</p>
        <p>* Solicitar promoción para tus proyectos.</p>
      </div>
    </div>

    <div>
      <div class="margin-1-rem">
        <input type="text" class="form-control" name="" id="" placeholder="Nombre completo">
      </div>
      <div class="margin-1-rem">
        <input type="text" class="form-control" name="" id="" placeholder="Correo electrónico">
      </div>
      <div class="margin-1-rem">
        <input type="text" class="form-control" name="" id="" placeholder="Sector creativo">
      </div>
      <div class="margin-1-rem">
        <input type="text" class="form-control" name="" id="" placeholder="Descripción">
      </div>
      <div class="margin-1-rem">
        <input type="text" class="form-control" name="" id="" placeholder="Contraseña">
      </div>
      <div class="margin-1-rem">
        <input type="text" class="form-control" name="" id="" placeholder="Repetir Contraseña">
      </div>

    </div>

      <div class="margin-1-rem">
        <button class="btn institutional-button ">Registrarme</button>
      </div>

      <div class="margin-1-rem">
      ¿Ya tienes cuenta? <a routerLink="/login"  >Iniciar sesión</a>
      </div>
  </div>

</div>
